body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  height: 150px;
}

.navbar-nav a {
  color: #343a40;
  padding: 5px 10px;
}

.navbar-nav a:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.navbar_list {
  margin-left: 500px;
  padding: 10px;
  justify-content: space-between;
  font-size: 20px;
}

.navbar-nav .dropdown-menu {
  left: auto;
  right: 0;
  transform: translateX(0);
}

/* Style dropdown items */
.dropdown-item {
  color: #343a40;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
}


#container-collegeName {
  font-weight: 400;
  color: #666666;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  min-width: 960px;
  border-bottom: 1px solid #e0e0e0;
  background: linear-gradient(
    to bottom,
    rgba(0, 169, 198, 1) 0%,
    rgba(0, 178, 206, 1) 100%
  );
}

.principal{
    display: flex;
    justify-content: space-around;
}

.principalview{
    border:1px grey solid;
    border-radius: 10px;
    padding-left: 10px;
}

.card {
  width: 70%;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px 0 0 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 15px;
}

.text-bold {
  font-weight: bold;
}

.text-bold:hover {
  color: #0077cc; /* Bluish shade, you can adjust the color */
}

.text-bold b {
  transition: color 0.3s ease;
}

/* Add bluish glowing effect on hover */
@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(0, 119, 204, 0.7); /* Bluish shade */
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 119, 204, 0.9); /* Bluish shade */
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 119, 204, 0.7); /* Bluish shade */
  }
}

.card:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 119, 204, 0.7); /* Bluish shade */
  animation: glow 1s infinite;
}


.footer {
  background-color: #343a40;
  color: #fff;
  padding: 30px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
}

h4 {
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  padding: 0;
}

.social-icons li {
  margin-right: 10px;
}

.copyright {
  margin-top: 20px;
  text-align: center;
  color: #ddd;
}